  
@{
    ViewBag.Title = "TopicManage";
}

@model App_mobile.Models.topic
    <form method="POST">
        <input class="btn_add" type="submit" id="id_add" value="Add"/>
        <input class="btn_edit" type="submit" id="id_edit" value="Edit" />
    </form>
<table>
    <tr>
        <td>Check</td>
        <td>STT</td>
        <td>Word</td>
        <td>Picture</td>
        
    </tr>
    <tr>
        <td><input type="checkbox" class="checkbox" /></td>
        <td class="td_id"></td>
        <td class="td_name"></td>
        <td class="td_picture"></td>
 
    </tr>
</table>


